<!-- Buttond to control the game, all are attached to a method of the component throw property binding-->
<div class="row">
  <div class="col-xs-4" align="center">
    <button
      class="btn btn-success"
      (click)="startGame()">
      Start
    </button>
  </div>
  <div class="col-xs-4" align="center">
    <button
      class="btn btn-info"
      (click)="clearGame()">
      Clear
    </button>
  </div>
  <div class="col-xs-4" align="center">
    <button
      class="btn btn-danger"
      (click)="stopGame()">
      Stop
    </button>
  </div>
</div>
